{% extends 'core/base.html' %}

{% block title %}เข้าสู่ระบบ{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">เข้าสู่ระบบ</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary mt-3">ล็อกอิน</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}